body {
    background-color: #f6c492;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

header {
    background-color: #BBDED6;
    padding: 0px 0;
    text-align: center;
}

.p1{
    margin: 0;
    font-size: 3rem;
    color: black;
    padding: 10px 0px 0px 0px;
}

.p2{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 10px 0px 30px 0px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
.navbar a {
    float: left;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding: 10px 10px 0px 0px;
    text-decoration: none;
  }

.active{
    background-color: #f27935 
    ;
}

.img1{
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    width: 200px;
    max-width: 720px;
    border-radius: 2rem;
}

.button1 {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    font-size: 1.5rem;
    background-color: #009688;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    font-size: 1rem;
    text-align: left;
    padding: 10px 0;
    font-weight: bold;
}